body {
    background: #d1a7d5;
}

@import url('https://fonts.googleapis.com/css?family=Arimo');
.top-menu {
  position: relative;
  background: #B57FCA;
}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-main:after {
  content: "";
  display: table;
  clear: both;
}
.left-item {float: left;}
.right-item {float: right;}
.navbar-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.menu-main a {
  text-decoration: none;
  display: block;
  line-height: 70px;
  padding: 0 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color:#F6EEF8;
  transition: .3s linear;
}
.menu-main a:hover {background: #C4A8DF;}
@media (max-width: 830px) {
.menu-main {
  padding-top: 90px;
  text-align: center;
  
}
.navbar-logo {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}
.menu-main li {
  float: none;
  display: inline-block;
}
.menu-main a {
  line-height: normal;
  padding: 20px 15px;
  font-size: 16px;
}
}
@media (max-width: 630px) {
.menu-main li {display: block;}
#enter { width: 100%; margin-left:  0;}
}

.single-goods {
  width: 300px;
  height: 500px;
  border: 3px solid #B57FCA;
  border-radius: 10%;
  margin: 38px;
  float: left;
  text-align: center;
  position: relative;
  display: block;
}

.single-goods button{
    display: block;
    margin: 20px auto;
    background-color: purple;
    color: whitesmoke;
    border-color: purple;
}


#order {
  background: #F3EDFB;
  width: 70%;
  margin-left: 15%;
  padding-top: 3%;
  opacity: 0.8;
}
p {margin-left: 5%;}
textarea {margin-left: 5%;}
input {margin-left: 5%;}
select {margin-left: 5%;}
#cond {
  background: #F3EDFB;
  width: 70%;
  margin-left: 15%;
  padding-top: 3%;
}
#bod {
  margin-left: 5%;
}

#enter {
  background: #F3EDFB;
  width: 80%;
  margin-left: 10%;
  height: 600px;
  padding-top: 60px;
}
.buttons {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 15px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
}
.buttons :hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: #F137A6;
}

p {
  margin-bottom: 0;
}
.AddAtrib {
  padding:2px;
  height: 26px;
  width: 40%;
}
.AddAtribn {
  width: 150px;
  height: 26px;
}