{% extends 'base.html' %}
{% load static %}
{% block cssload %}{% static 'css/index.css' %}{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
    <div id="mini-cart"></div>
    <div id="description">
        <h3>Дякуємо, {{user.username}}, що обрали нас! На цій сторінці ви можете переглянути історію своїх попередніх замовлень</h3>
    </div>
    <h4 id="nameHistory">Історія замовлень</h4>
    <div id="orderHistory">
            <table border=1 border-radius=6% cellspacing=0 cellpadding=8 id="tableHistory">
                <tbody>
                    <tr>
                        <td>Дата</td>
                        <td>Список товарів</td>
                        <td>Ціна</td>
                    </tr>
                    {% for order in finished_orders %}
                        <tr>
                            <td><script> document.write(new Date().toLocaleDateString());</script></td>
                            <td>{{ order.name }}</td>
                            <td>{{ order.price }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

    </div>
    <script>
    </script>
{% endblock %}