{% extends 'base.html' %}
{% load static %}
{% block cssload %}{% static 'css/index.css' %}{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
    <div id="mini-cart"></div>
    <div id="goods"></div>
        <h2>Ваше поточне замовлення</h2>
    <div id="currentOrders">
            <div id="oneOrder">
                <table border=3 cellpadding=8 cellspacing=0 id="Order">
                    <tbody>
                        <tr>
                            <td>Зображення</td>
                            <td>Назва</td>
                            <td>Ціна</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div id="extraInfo">
                    <h4><p><script> document.write(new Date().toLocaleDateString());</script></p></h4>
                    <h4>Загальна сума ____</h4>
                </div>
            </div>
    </div>
    <h2 id="nameHistory">Історія замовлень</h2>
    <div id="orderHistory">

            <table border=1 border-radius=6% cellspacing=0 cellpadding=8 id="tableHistory">
                <tbody>
                    <tr>
                        <td>Дата</td>
                        <td>Номер замовлення</td>
                        <td>Накладна</td>
                        <td>Ціна</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

    </div>

    <div id="additionalInformation">
        <h4>Ваші бонуси: ____</h4>
        <h4>Знижка: ___</h4>
    </div>
    <div class="cartshow" style="position: absolute; height: 65px">

    </div>
    <script>


    </script>
{% endblock %}