{% extends 'base.html' %}
{% load tags %}
{% load static %}
{% block cssload %}{% static 'css/cart.css' %}{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <div class="card">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
            <tr>
                <th scope="col">Product</th>
                <th scope="col" width="120">Quantity</th>
                <th scope="col" width="120">Price</th>
                <th scope="col" width="200" class="text-right">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for i, j in data.items %}
                <tr>
                    <td>
                        <figure class="media">
                            <div class="img-wrap"><img src={{ i|image }}></div>
                            <figcaption class="media-body text-center">
                                <h5 class="title text-truncate">{{ i }}</h5>
                                <dl class="param param-inline small">
                                </dl>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <input class="form-control">
                    </td>
                    <td>
                        <div class="price-wrap">
                            <var class="price"></var>
                            <small class="text-muted"></small>
                        </div> <!-- price-wrap .// -->
                    </td>
                    <td class="text-right">
                        <a href="" class="btn btn-outline-danger"> × Remove</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div> <!-- card.// -->
{% endblock %}