{% extends 'base.html' %}
{% load tags %}
{% load static %}
{% block cssload %}{% static 'css/cart.css' %}{% endblock %}
{% block body %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <div class="card">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
            <tr>
                <th scope="col">Костюм</th>
                <th scope="col" width="150">Кількість</th>
                <th scope="col" width="120">Ціна</th>
                <th scope="col" width="200" class="text-right">Дії</th>
            </tr>
            </thead>
            <tbody>
            {% for i, j in data.items %}
                <tr class="item" data-id="{{ i|id }}">
                    <td>
                        <figure class="media">
                            <div class="img-wrap"><img src={{ i|image }}></div>
                            <figcaption class="media-body text-center">
                                <h5 class="title text-truncate" style="text-align: left; margin-left: 10px">{{ i }}</h5>
                                <dl class="param param-inline small" style="text-align: left; margin-left: 10px"
                                    data-count={{ i|count }}>
                                    {{ i|count }}шт. на складі
                                </dl>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <div class="form-group">
                            {#                            <input type="text" class="form-control" id="count" name="count" value={{ j }} data-id={{ i|id }}#}
                            {#                                    required>#}
                            {#                            <div class="valid-feedback"></div>#}
                            {#                            <div class="invalid-feedback">Немає</div>#}
                            <div class="center">
                                <div class="input-group">
                                      <span class="input-group-btn">
                                          <button type="button" class="btn btn-light btn-number"
                                                  data-name="{{ i }}"
                                                  data-type="minus" data-field={{ i|id }}>
                                              <i class="fa fa-minus"></i>
                                          </button>
                                      </span>
                                    <input type="text" class="form-control input-number" value={{ j }}
                                            min="1" data-name={{ i }} max={{ i|count }} name={{ i|id }} disabled>
                                    <span class="input-group-btn">
                                          <button type="button" class="btn btn-light btn-number" data-type="plus"
                                                  data-name="{{ i }}"
                                                  data-field={{ i|id }}>
                                              <i class="fa fa-plus"></i>
                                          </button>
                                      </span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="price-wrap">
                            <var class="price"></var>
                            <p data-price={{ i|price }} class="text-muted" style="font-size: 20px; margin-bottom: 0"
                               id={{ i|id }}>{{ i|price }}<small
                                    class="text-muted">грн.</small></p>
                            <small class="text-muted">({{ i|price }}грн. кожен)</small>
                        </div> <!-- price-wrap .// -->
                    </td>
                    <td class="text-right">
                        <a href="" class="btn btn-outline-danger" data-id="{{ i|id }}"> × Remove</a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
        <button type="button" class="btn btn-success" style="margin-left: 90%; margin-top: 10px; margin-bottom: 20px">
            Замовити
        </button>
    </div>

    <script>
        $(document).ready(function () {
            $('.form-control').change(function (e) {
                let choose = parseInt($(this).val());
                let id_costume = parseInt($(this).attr('name'));
                let price = parseInt($(`p[id='${id_costume}']`).attr('data-price'));

                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/dede",
                    data: {
                        'id': id_costume,
                        'userinput': choose
                    },
                    success: function (data) {
                        let available = data.available;
                        if (available) {
                            alert(`Стільки товару в наявності немає\nДоступна кількість: ${data.count}`);
                            $(this).val(data.count);
                        } else {
                            console.log(choose, price);
                            $(`p[id='${id_costume}']`).html(`${choose * price}<small class="text-muted">грн.</small>`)
                        }
                    }
                });
            });
            // remove button
            $('.btn-outline-danger').click(function (e) {
                e.preventDefault();
                let id = $(this).attr('data-id');
                $.ajax({
                    type: 'POST',
                    url: '/remove',
                    data: {
                        'id': id
                    },
                    success: function (data) {
                        $(`tr[data-id=${name}]`).fadeOut(300, function () {
                            $(this).remove()
                        })
                    }
                });
            })
        });
        // plus minus input box
        $('.btn-number').click(function (e) {
            e.preventDefault();
            let name = $(this).attr('data-name');
            let fieldName = $(this).attr('data-field');
            let type = $(this).attr('data-type');
            let input = $("input[name='" + fieldName + "']");
            let currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if (type === 'minus') {

                    if (currentVal > input.attr('min')) {
                        input.val(currentVal - 1).change();
                        $.ajax({
                            type: 'POST',
                            url: '/cart_update',
                            data: {
                                'name': name,
                                'count': input.val()
                            }
                        })
                    }
                    if (parseInt(input.val()) === input.attr('min')) {
                        $(this).attr('disabled', true);
                    }

                } else if (type === 'plus') {

                    if (currentVal < input.attr('max')) {
                        input.val(currentVal + 1).change();
                        $.ajax({
                            type: 'POST',
                            url: '/cart_update',
                            data: {
                                'name': name,
                                'count': input.val()
                            }
                        })
                    }
                    if (parseInt(input.val()) === input.attr('max')) {
                        $(this).attr('disabled', true);
                    }

                }
            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function () {

            let minValue = parseInt($(this).attr('min'));
            let maxValue = parseInt($(this).attr('max'));
            let valueCurrent = parseInt($(this).val());
            let name = $(this).attr('name');
            if (valueCurrent >= minValue) {
                $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }


        });
        })
        ;
    </script>
{% endblock %}