{% extends 'base.html' %}
{% load static %}
{% block cssload %}{% static 'css/order.css' %}{% endblock %}
{% block body %}
    <div style="align-items:center">
        <div id="cond">
            <div>
                <h3 align="center">Умови купівлі</h3>
                Ви можете придбати костюм за наступних умов:
                <li>Бути зареєстрованим або вказати свій номер телефону;</li>
                <li>Костюм є у доступі;</li>
                <li>Ви вказали спосіб оплати;</li>
                <li>Ви виплатили аванс у розмірі 20% від вартості купівлі;</li>
                Ви маєте можливість повернути товар з повним поверненням грошей протягом перших 7 днів після купівлі. Потім з вас буде відшкодовано певний процент від вартості товару.
                <li>7-14 днів - 5%</li>
                <li>2-4 тижні - 10%</li>
                <li>Місяць та довше - товар не повертається</li>
            </div>
        </div>
    </div>
{% endblock %}
