{% extends 'base.html' %}
{% load static %}
{% block cssload %}{% static 'css/index.css' %}{% endblock %}
{% block head %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}
{% block body %}
    <div id="mini-cart"></div>
    <div id="goods"></div>
    {% if success %}
        <div class="alert alert-success" role="alert">
            Реєстрація пройшла успішно!
        </div>
    {% elif login_success %}
        <div class="alert alert-success" role="alert">
            Ви успішно ввійшли!
        </div>
    {% endif %}
    <div class="cartshow" style="position: absolute; height: 65px">

    </div>
    <div class="cont">
        <div class="grid-list">
            {% for i in costumes %}
                <div class="box">
                    <a href="#">
                        <img style="position: center" src={{ i.costume_image }}>
                    </a>
                    <h4 class="name" style="text-align: center">
                        <a href="#" class="productname">{{ i.costume_name }}</a>
                    </h4>
                    <h6 class="price">Ціна: {{ i.costume_price }}</h6>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".productname").on("click", function (event) {
                event.preventDefault();
                let text = $(this).text();
                $.ajax({
                    type: "POST",
                    url: '/add',
                    data: {
                        'name': text
                    },
                    success: function (data) {
                        if (data.Count) {
                            $('.cartshow').html(`<div class="alert alert-success" role="alert" id="order">Ви успішно добавили ${data.Costume}</div>`).slideDown("slow").delay(1000).slideUp("slow", function () {
                                $(this).remove("slow")
                            })

                        } else {
                            $('.cartshow').html(`<div class="alert alert-danger">Товару <strong>{{ data.Costume }}</strong> немає в наявності</div>`).slideDown("slow").delay(1000).slideUp("slow", function () {
                                $(this).remove("slow")
                            })
                        }
                    }
                })
            });

        });

    </script>
{% endblock %}