{% extends 'base.html' %}
{% load static %}
{% block cssload %}{% static 'css/index.css' %}{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
    <div id="mini-cart"></div>
    <div id="goods"></div>
    {% if success %}
        <div class="alert alert-success" role="alert">
            Реєстрація пройшла успішно!
        </div>
    {% elif login_success %}
        <div class="alert alert-success" role="alert">
            Ви успішно ввійшли!
        </div>
    {% endif %}
    <div class="cartshow" style="position: absolute; height: 65px">

    </div>
    <div class="cont">
        <div class="grid-list">
            {% for i in costumes %}
                <div class="box">
                    <a href={% url 'window' i.name %}>
                        <img style="position: center" src={{ i.image }}>
                    </a>
                    <h4 class="name" style="text-align: center">
                        <a href={% url 'window' i.name %} class="productname">{{ i.name }}</a>
                    </h4>
                    <h6 class="price" style="text-align: center">Ціна: {{ i.price }}</h6>
                </div>
            {% endfor %}
        </div>
    </div>


    <script>


    </script>
{% endblock %}