{% extends 'base.html' %}
{% load static %}
{% block cssload %}{% static 'css/login.css' %}{% endblock %}

{% block body %}
    <div class="autoTable">
        <table placeholder="0" cellspacing="0" class="table">
            <tbody>
            <tr>
                <td>Логін</td>
            </tr>
            <tr>
                <td><input type="text" name="login" class="login" id="login"></td>
            </tr>
            <tr>
                <td>Пароль</td>
            </tr>

            <tr>
                <td><input type="password" name="password" class="password" id="password"></td>
            </tr>
            </tbody>
        </table>
        <a href="http://localhost:3000/account.html">
            <button id="enterToAccount">Ввійти</button>
        </a>
        <p>Немає аккаунту?! <a href="http://localhost:3000/registration.html">Створи його!!!</a></p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>

        $('#enterToAccount').on('click', enterAccount)

        function enterAccount() {
            let LPDB = {};
            checkData();
            let login = $('.login').val();
            let password = $('.password').val();
            LPDB = JSON.parse(localStorage.getItem('LPDB'));
            if (LPDB[login] !== password) {
                alert("Неправильний логін або пароль");
                return false;
            } else {
                let currentLogin = {};
                currentLogin[login] = true;
                localStorage.setItem('currentLogin', JSON.stringify(currentLogin));
            }
        }

        function checkData() {
            let login = $('.login').val();
            let password = $('.password').val();
            if (login == '' || password == '') {
                alert("Не всі поля заповнені!")
                return false;
            }
        }
    </script>
{% endblock %}